<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      /* Add your custom styles here */
      /* body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
          margin: 0;
          padding: 0;
      }
      .container {
          max-width: 600px;
          margin: 0 auto;
          background-color: #ffffff;
          padding: 20px;
      }
      .header {
          text-align: center;
      }
      .logo {
          max-width: 150px;
          height: auto;
      }
      .message {
          margin-top: 20px;
          text-align: center;
      }
      .banner {
            width: 100%;
        }
      footer{
        color: gray;
      } */
  </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <div class="container">
      <div class="header">
          <img class="logo" src="img/AccennovateLogo.png" alt="Accennovate Logo">
          <h1>Contact Form Submission Confirmation</h1>
          <p>Thank you for contacting Accennovate Tech Solutions. We appreciate you taking the time to reach out to us.</p>
      </div>
      <img class="banner" src="img/about_img.png" alt="About">
      <div class="message">
          <p>We have received your inquiry and will respond to you as soon as possible. In the meantime, you can find more information about our company and our products and services on our website at <a href="https://accennovate.com/">accennovate.com</a></p>
          <p>If you have any further questions, please do not hesitate to <a href="https://accennovate.com/contact">contact us</a></p>
      </div>
      <div>
        <br>
        <p>Sincerely,</p>
          <p>The Accennovate Team</p>
      </div>
      <div align="center">
        <img style="width: 70%;margin:0 auto" src="img/AccennovateLogo.png" alt="Accennovate Logo">
      </div>
      <footer align="center"><i>Copyright (C) 2023 Accennovate Tech Solutions. All rights reserved.</i></footer>
  </div> -->

  <div style="font-family: Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
        <div style="text-align: center;">
            <img src="img/AccennovateLogo.png" alt="Accennovate Logo" style="max-width: 150px; height: auto;">
            <h1>Contact Form Submission Confirmation</h1>
            <p>Thank you for contacting Accennovate Tech Solutions. We appreciate you taking the time to reach out to us.</p>
        </div>
        <img src="img/about_img.png" alt="About" style="width: 100%;">
        <div style="margin-top: 20px; text-align: center;">
            <p>We have received your inquiry and will respond to you as soon as possible. In the meantime, you can find more information about our company and our products and services on our website at <a href="https://accennovate.com/">accennovate.com</a></p>
            <p>If you have any further questions, please do not hesitate to <a href="https://accennovate.com/contact">contact us</a></p>
        </div>
        <div>
            <br>
            <p>Sincerely,</p>
            <p>The Accennovate Team</p>
        </div>
        <div style="text-align: center;">
            <img src="img/AccennovateLogo.png" alt="Accennovate Logo" style="width: 70%; margin: 0 auto;">
        </div>
        <footer style="text-align: center; color: gray;"><i>Copyright (C) 2023 Accennovate Tech Solutions. All rights reserved.</i></footer>
    </div>
</div>
  </body>
</html>
